# Database connection URL
DB_URL=postgres://user:password@localhost:5432/gator?sslmode=disable

# Database dialect for goose migrations
# Valid values: postgres, mysql, sqlite3, mssql
# Note: changing the dialect also requires updating the driver import in database/migrate.go
# e.g. for mysql: _ "github.com/go-sql-driver/mysql"
DB_DIALECT=postgres

# Database setup and connection variables
POSTGRES_USER = gator_admin
POSTGRES_PASSWORD = changeme
POSTGRESS_DB = gator

# Database startup variables
DATABASE_CONNECTION_ATTEMPTS = 10
DATABASE_CONNECTION_WAIT = 1

# Feed service variables
MAX_CONCURRENCY = 10

# Server variables
SERVER_PORT="8888"
