{{ define "content" }}
{{ if .ErrorString }}
{{ template "error" . }}
{{ end }}
{{ end }}

{{ define "userSelector" }}
<select hx-get="{{ .UserSwitchURL }}" hx-target="#main-content" hx-swap="innerHTML" name="user_id">
	<option value="">Select a user...</option>
	{{ range .Users }}
	<option value="{{ .ID }}" {{ if $.CurrUser }}{{ if eq $.CurrUser.ID .ID }}selected{{ end }}{{ end }}>
		{{ .Username }}
	</option>
	{{ end }}
</select>
{{ end }}

{{ define "feedItem" }}
<article id="feed-{{ .ID }}" class="feed-item">
	<span class="card-header">
		<span class="card-meta">
			<a class="feed-link" href="{{ .URL }}">{{ .Title }}</a>
		</span>
		<input type="checkbox" class="toggle" id="toggle-{{ .ID }}"
			hx-post="{{ if .Subscribed }}/feeds/{{ .ID }}/unsubscribe{{ else }}/feeds/{{ .ID }}/subscribe{{ end }}"
			hx-target="#feed-{{ .ID }}" hx-swap="outerHTML" hx-trigger="change" {{ if .Subscribed
			}}checked{{ end }}>
		<label for="toggle-{{ .ID }}"></label>
	</span>
	{{ if .Description }}
	<div class="card-description">{{ .Description }}</div>
	{{ end }}
</article>
{{ end }}

{{ define "postItem" }}
<article id="post-{{ .ID }}" class="post-item {{ if .IsRead }}is-read{{ end }}" hx-post="/posts/{{ .ID }}/mark_read"
	hx-target="#post-{{ .ID }}" hx-swap="outerHTML" hx-trigger="click">
	<span class="card-header">
		<span class="card-meta">
			<a href="{{ .URL }}" target="_blank">{{ .Title }}</a>
			<time>{{ .PublishedAt }}</time>
			<div class="post-source">Source: {{ .SourceTitle }} ({{ .SourceURL }})</div>
		</span>
		<span class="read-indicator" hx-post="/posts/{{ .ID }}/toggle_read" hx-target="#post-{{ .ID }}"
			hx-swap="outerHTML" hx-trigger="click">
			<span class="read-circle {{ if .IsRead }}read{{ end }}"></span>
			&#128366;
		</span>
	</span>
	{{ if .Description }}
	<div class="card-description {{ if .IsRead }}is-read{{ end }}">{{ .Description }}</div>
	{{ end }}
</article>
{{ end }}

{{ define "paginationButtons" }}
<div id="btn-container">
	{{ if .CurrUser }}
	<button class="btn btn-secondary" hx-get="{{ .UserSwitchURL }}" hx-target="#main-content"
		hx-vals='{"user_id": "{{ .CurrUser.ID }}", "offset": "{{ .PrevOffset }}"}' {{ if eq .CurrOffset 0
		}}disabled{{ end }}>
		Previous
	</button>
	<button class="btn btn-secondary" hx-get="{{ .UserSwitchURL }}" hx-target="#main-content"
		hx-vals='{"user_id": "{{ .CurrUser.ID }}", "offset": "{{ .NextOffset }}"}' {{ if not .HasNextPage
		}}disabled{{ end }}>
		Next
	</button>
	{{ end }}
</div>
{{ end }}

{{ define "error" }}
<p class="error">{{ .ErrorString }}</p>
{{ end }}
