<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Gator - Feeds</title>
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
</head>

<body>
  <nav>
    {{ template "userSelector" . }}
    <a href="/posts">Posts</a>
    <button class="btn btn-primary" onclick="document.getElementById('add-feed-dialog').showModal()">
      Add Feed
    </button>
  </nav>

  <dialog id="add-feed-dialog">
    <form hx-post="/feeds" hx-target="#feed-list" hx-swap="innerHTML"
      hx-on::after-settle="document.getElementById('add-feed-dialog').close()">
      {{ if .CurrUser }}
      <input type="hidden" name="user_id" value="{{ .CurrUser.ID }}" />
      {{ end }}
      <input type="text" name="feed_title" placeholder="Title" />
      <input type="text" name="feed_url" placeholder="URL" />
      <input type="text" name="feed_description" placeholder="Description (optional)" />
      <div id="btn-container">
        <button class="btn btn-primary" type="submit">Add</button>
        <button class="btn btn-secondary" type="button" onclick="document.getElementById('add-feed-dialog').close()">
          Cancel
        </button>
      </div>
    </form>
  </dialog>

  <main>
    <div id="main-content">
      {{ template "feedContent" . }}
    </div>
  </main>


</body>

</html>

{{ define "feedContent" }}
{{ template "error" . }}
<h1 id="feed-list-title" class="h1">
  Feeds
</h1>
<div id="feed-list">
  {{ range .Feeds }}
  {{ template "feedItem" . }}
  {{ end }}
  {{ if .HasNextPage }}
  <div id="next-page" hx-get="/feeds?user_id={{ .CurrUser.ID }}&cursor={{ .Cursor }}" hx-target="#next-page"
    hx-swap="outerHTML" hx-trigger="revealed"> </div>
  {{ end }}
</div>
{{ end }}

{{ define "nextFeedContent" }}
{{ range .Feeds }}
{{ template "feedItem" . }}
{{ end }}
{{ if .HasNextPage }}
<div id="next-page" hx-get="/feeds?user_id={{ .CurrUser.ID }}&cursor={{ .Cursor }}" hx-target="#next-page"
  hx-swap="outerHTML" hx-trigger="revealed"> </div>
{{ end }}
{{ end }}
