<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Gator</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <select
      hx-get="/feeds"
      hx-target="#main-content"
      hx-swap="innerHTML"
      name="user_id"
    >
      <option value="">Select a user...</option>
      {{ range .Users }}
      <option
        value="{{ .ID }}"
        {{
        if
        $.CurrUser
        }}
        {{
        if
        eq
        $.CurrUser.ID
        .ID
        }}selected{{
        end
        }}
        {{
        end
        }}
      >
        {{ .Username }}
      </option>
      {{ end }}
    </select>

    <div id="main-content">{{ template "content" . }}</div>
  </body>
</html>

{{ define "content" }} {{ if .ErrorString }}
<p>{{ .ErrorString }}</p>
{{ end }}

<form hx-post="/feeds" hx-target="#main-content" hx-swap="innerHTML">
  {{ if .CurrUser }}
  <input type="hidden" name="user_id" value="{{ .CurrUser.ID }}" />
  {{ end }}
  <input type="text" name="feed-title" placeholder="Title" />
  <input type="text" name="feed-url" placeholder="URL" />
  <input
    type="text"
    name="feed-description"
    placeholder="Description (optional)"
  />
  <button type="submit">Add feed</button>
</form>

{{ range .CurrUserFeeds }}
<div>
  <a href="{{ .URL }}">{{ .Title }}</a>
</div>
{{ end }} {{ range .CurrUserPosts }}
<div>
  <a href="{{ .URL }}">{{ .Title }}</a>
  <span>{{ .PublishedAt }}</span>
</div>
{{ end }} {{ end }}
