<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<title>Gator - Posts</title>
	<script src="https://unpkg.com/htmx.org@1.9.10"></script>
	<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
	<nav>
		{{ template "userSelector" . }}
		<a href="/feeds">Feeds</a>
	</nav>

	<main>
		<div id="main-content">
			{{ template "postContent" . }}
		</div>
	</main>
</body>

</html>

{{ define "postContent" }}
{{ template "error" . }}
<h1 id="post-list-title" class="h1">
	Posts
</h1>
<div id="post-list">
	{{ range .Posts }}
	{{ template "postItem" . }}
	{{ end }}
</div>
{{ template "paginationButtons" . }}
{{ end }}
